<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="shrink-to-fit=no ,width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود کاربران</title>

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
</head>
<body>
    <div id="app">

    <section class="side">
        <img src="../public/image/img.svg" alt="fffg">
    </section>

    <section class="main">


        <div class="login-container">

            <p class="title">ورود کاربران</p>
        

            <form action="" class="login-form">
                <div class="form-control">
                    <input type="text" placeholder="نام کاربری / ایمیل " v-model="user_name">
                    <i class="fas fa-user"></i>
                </div>

                <!-- display error -->
                <p class="error" v-html="error_name"></p>


                <div class="form-control">
                    <input type="password" placeholder="رمز عبور " v-model="password">
                    <i class="fas fa-lock"></i>
                </div>

                <!-- display error -->
                <p class="error" v-html="error_password"></p>
                <p class="error" v-html="error_password_length"></p>


                <button class="submit" @click="checkUserData">ورود</button>
            </form>
        </div>

    </section>


</div>


<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<script src="../node_modules/vue/dist/vue.min.js"></script>

<script>
    new Vue({
        el: "#app",

        data: () => ({
            user_name: '',
            password: '',
            error_name: '',
            error_password: '',
            error_password_length:'',
        }),

        methods: {
            checkUserData(e) {
                this.error_name ='';
                this.error_password ='';
                this.error_password_length ='';

                if (!this.user_name) {
                    this.error_name = 'نام کاربری یا ایمیل خود را وارد نمایید';
                    // this.error.push('نام کاربری خود را وارد نمایید');
                }

                if (!this.password) {
                    this.error_password = 'رمز عبور خود را وارد نمایید';
                    // this.error.push('رمز عبور خود را وارد نمایید');

                }
                 
                if(this.password.length < 8){
                    this.error_password_length = 'رمز عبور باید حداقل 8 کاراکتر باشد';
                 }

                if (this.error_password_length.length === 0 && this.error_name.length === 0 && this.error_password.length === 0) {
                    alert("خوش آمدید");
                }

                e.preventDefault();
            }
        },
    });
</script>
</body>
</html>